body {
    margin: 0px;
    padding: 0px;
    overflow-x: unset;
    min-width: 320px;
    background: #FFFFFF;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
}
#logo{
  width: 150px;
  height: 30px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.breadcrumb {
    padding: 7px 25px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
#Titulo{
    font-size: x-large;
}
#idiomaAct{
    color:black
}
.a{
    color:black
}
.input-group{
    width: 500px;
    margin: 5px;
    margin-left: 7px;
}
#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color:#e2e4e3
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  background-color:#2e446c ;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.btn-primary {
    background-color: #e2e4e3;
    color: white;
    border-color: #f5f5f5;
}
.btn-primary:hover{
    background-color: #f5f5f5;
    color: white;
    border-color: #f5f5f5;
}
.btn-secondary{
    font-size: small;
    border-color: #2e446c;
    color: white;
    background-color:#2e446c;
}
.dropdown-item.active,
.dropdown-item:active{
  background-color: #2e446c;
}
.dropdown-item.hover,
.dropdown-item:hover{
  background-color: #252850;
  color:white
}
.collapsible {
  background-color: #2e446c;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border:none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible2 {
  background-color:#2e446c;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border:none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color:#252850;
  color: white;
}
.collapsible2:hover {
  background-color:#252850;
  color: white;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #2e446c;
}
.ir-arriba {
  display: flex;
	padding:20px;
	background: url('https://api.iconify.design/ei:arrow-up.svg?color=%232e446c') no-repeat center center / contain;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right: 0px;
}
.content2 {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #2e446c;
}
.list-group-item{
  background-color:#2e446c;
  padding: 0px;
  border: none;
}
.dropdown-item{
  white-space: unset;
  color: white;
}
table,tr,td{
  border: 1px solid black;
}
.container-fluid{
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 10px;
  text-align: justify;
}
#tabla{
  text-align: center;
}
#titulo{
  text-decoration: underline;
  font-weight: bolder;
}
#subtitulo{
  text-decoration: underline;
}
#img{
  display: block;
  margin: 0 auto;
  max-width: 50%;
  width: 50%;
}
#img2{
  display: block;
  max-width: 70%;
  width: 70%;
}
#img3{
  display: block;
  max-width: 35%;
  width: 35%;
}
.btn-secondary{
  font-size: 15px;
  text-align: inherit;
  padding: 18px;
  width: 100%;
}
.btn-secondary:hover{
  background-color: #252850;
  color:white;
  border-color:#252850 ;
}
.active{
  border: 1px solid black;
  background-color: #252850;
  color:white
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  border: 1px solid black;
  background-color:#252850;
  color:white
}
#flecha {
  position: relative;
  width: 15px;
}

/* CSS solución */
#flecha {
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}
#boton:hover #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.collapsible2.active #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.collapsible:hover #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.collapsible.active #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}